.App {
  text-align: center;
  margin: 5% 20%;
  display: flex;
  /* justify-content:  */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  width: 200px;
  height: 300px;
  overflow: scroll;
  box-shadow: 1px 1px 4px rgb(82, 83, 83);
  background: #ffff80;
}

/* .card:hover {
  text-decoration: none;
} */

.friends {
  display: flex;
  justify-content: space-around;
  width: 100%
}

.solo-card {
  width: 100%;
  box-shadow: 1px 1px 4px rgb(82, 83, 83);
  background: #ffff80;
  border-radius: 5px;
}

.actions {
  text-decoration: underline
}

.home-btn {
  float: right;
}

.friend-link-wrap:hover {
  text-decoration: none;
}