* {
  box-sizing: border-box;
}


.App {
  display: flex;
  flex-flow: column wrap;
  background: #e4e4e4;
  align-items: center;
  min-height: 100vh;
}

.friend-list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 840px;
}
.friend-card {
  display: flex;
  flex-flow: column wrap;
  background: white;
  padding: 20px 0 0;
  margin: 10px;
  border-radius: 2px;
  min-width: 260px;
  overflow: hidden;
  text-decoration: none;
  color: black;
}

.friend-card:hover {
    box-shadow: 2px 2px slategray;
    transition: all 0.05s ease-out;
}

.friend-card .contact {
  color: gray;
  margin-bottom: 0;
  padding-bottom: 6px;
  font-style: italic;
  letter-spacing: 0.02rem;
}

.friend-card div:nth-child(1) {
  padding: 0 20px;
}

.friend-card div:nth-child(2) {
  background: #eee;
  padding: 10px 20px;
  border-top: 1px solid gray;
  box-shadow: 0 40px #eee;
}

.friend-card .contact ~ div {
  background: #eee;
}

.friend-card h3 {
  font-weight: 300;
  font-size: 24px;
}

.friend-card p {
  margin: 5px 0;
}

.no-info {
  color: lightgray;
  font-style: italic;
}

.twitter-handle {
  color: #1dcaff;
}

.twitter-handle:hover {
  cursor: pointer;
}

/* Friend Edit */

.friend-edit form {
  display: flex;
  flex-flow: column wrap;
  padding: 10px;
  background: white;
}